/* .card {
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.h3{
    color: black;
}


#well{
    color: yellow;
} */

/* .header {
     background: #333; color: white; padding: 20px;
     text-align: center;
 }

.main {
     background: #f2f2f2; padding: 10px;  text-align: center;
}

.footer {
     background: #333; color: white; padding: 10px; text-align: center;
 } */

 .form{
    background-color: skyblue;
 }
